<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>0</key>
		<dict>
			<key>MySQL</key>
			<dict>
				<key>jiahe_test</key>
				<dict>
					<key>ServerVersion</key>
					<integer>50738</integer>
					<key>ServerVersionStr</key>
					<string>5.7.38-log</string>
					<key>access_time</key>
					<integer>1733129726</integer>
					<key>active_setting_name</key>
					<string></string>
					<key>autoconnect</key>
					<integer>0</integer>
					<key>clientcharacterset</key>
					<string></string>
					<key>clientdriverversion</key>
					<string>Default</string>
					<key>clientencoding</key>
					<integer>65001</integer>
					<key>cloud_created_time</key>
					<integer>0</integer>
					<key>cloud_created_user</key>
					<string></string>
					<key>cloud_modified_time</key>
					<integer>0</integer>
					<key>cloud_modified_user</key>
					<string></string>
					<key>cloud_modified_user_uuid</key>
					<string></string>
					<key>commit_uuid</key>
					<string></string>
					<key>compatibility_param</key>
					<dict>
						<key>database_listing_method</key>
						<string>ShowDatabasesStatement</string>
						<key>is_support_ndb</key>
						<false/>
						<key>lower_case_table_names</key>
						<integer>0</integer>
						<key>override_database_listing_method</key>
						<false/>
						<key>override_is_support_ndb</key>
						<false/>
						<key>override_lower_case_table_names</key>
						<false/>
						<key>override_sql_mode</key>
						<false/>
						<key>override_view_listing_method</key>
						<false/>
						<key>sql_mode</key>
						<string>ONLY_FULL_GROUP_BY, STRICT_TRANS_TABLES, NO_ZERO_IN_DATE, NO_ZERO_DATE, ERROR_FOR_DIVISION_BY_ZERO, NO_ENGINE_SUBSTITUTION</string>
						<key>view_listing_method</key>
						<string>ShowFullTablesStatement</string>
					</dict>
					<key>connection_uuid</key>
					<string></string>
					<key>connectiontimeoutseconds</key>
					<integer>30</integer>
					<key>created_time</key>
					<integer>1730187424</integer>
					<key>customdblist</key>
					<array/>
					<key>encoding</key>
					<integer>0</integer>
					<key>hidden</key>
					<false/>
					<key>host</key>
					<string>1.12.66.97</string>
					<key>http_param</key>
					<dict>
						<key>encodebase64</key>
						<false/>
						<key>savepassword</key>
						<true/>
						<key>url</key>
						<string></string>
						<key>useauth</key>
						<false/>
						<key>username</key>
						<string></string>
					</dict>
					<key>initialsessionqueries</key>
					<string></string>
					<key>modified_time</key>
					<integer>1730187580</integer>
					<key>port</key>
					<string>33060</string>
					<key>profiles</key>
					<array/>
					<key>remarks</key>
					<string></string>
					<key>savepassword</key>
					<true/>
					<key>savepath</key>
					<string>/Users/coderwei/Library/Application Support/PremiumSoft CyberTech/Navicat CC/Common/Settings/0/0/MySQL/jiahe_test</string>
					<key>serviceprovider</key>
					<string>Default</string>
					<key>sessionlimit</key>
					<integer>0</integer>
					<key>ssh_param</key>
					<dict>
						<key>authtype</key>
						<integer>0</integer>
						<key>host</key>
						<string></string>
						<key>port</key>
						<integer>22</integer>
						<key>savepassword</key>
						<true/>
						<key>username</key>
						<string></string>
					</dict>
					<key>ssl_param</key>
					<dict>
						<key>allowinvalidhostname</key>
						<false/>
						<key>cacert</key>
						<string></string>
						<key>cipher</key>
						<string></string>
						<key>clientcert</key>
						<string></string>
						<key>clientkeyfile</key>
						<string></string>
						<key>crlfile</key>
						<string></string>
						<key>mode</key>
						<string>require</string>
						<key>pemclientkeypassword</key>
						<string></string>
						<key>rootcert</key>
						<string></string>
						<key>saveclientkeypassword</key>
						<true/>
						<key>servernameindication</key>
						<string></string>
						<key>useauth</key>
						<false/>
						<key>verifyca</key>
						<false/>
						<key>weakcertvalidation</key>
						<true/>
					</dict>
					<key>starred</key>
					<false/>
					<key>sync_status</key>
					<string>Ready</string>
					<key>unknownjsonproperties</key>
					<string></string>
					<key>usecompatibility</key>
					<false/>
					<key>usecompression</key>
					<integer>0</integer>
					<key>usecustomdblist</key>
					<integer>0</integer>
					<key>usehttptunnel</key>
					<false/>
					<key>username</key>
					<string>jiahe</string>
					<key>usessl</key>
					<false/>
					<key>usetunnel</key>
					<false/>
					<key>writetimeoutseconds</key>
					<integer>30</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
